.about {
  justify-content: center;
  gap: 64px;
  flex-wrap: wrap;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 761px;
  width: 100%;
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tech-stack {
  display: flex;
  gap: 16px;
}

.tech-pill {
  color: var(--gray-mid);
  border: solid 1px var(--gray-mid);
  height: 40px;
  width: 206px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 761px;
  width: 100%;
  height: 100vh;
}
