.navbar {
  position: fixed;
  top: 0;
  left: var(--side-gap);
  width: var(--nav-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 80px;
  gap: 16px;
  z-index: 10;
}
