.projects {
  position: relative;
  justify-content: center;
}

.project-card {
  position: absolute;
  height: 840px;
  width: 720px;
}

.card-a {
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-b {
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-c {
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
