.hero {
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100vw;
}

.bubble-container {
  height: 400px;
  width: 100%;
}

@media (max-width: 768px) {
  .bubble-container {
    height: 280px;
  }
}
